<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>&#128640; - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <div class="container">
            <header class="sidebar">
                <div class="logo">
                    <a href="/">
                        <span role="img" aria-label="house">&#127968;</span> Daniel Krüger
                    </a>
                </div>
                <nav class="side-nav">
                    <a href="/about.html">
                        <span role="img" aria-label="man">&#128104;</span> about 
                    </a>
                    <a href="/contact.html">
                      <span role="img" aria-label="letter">&#128232;</span> contact 
                    </a>
                    <a href="/archive.html">
                        <span role="img" aria-label="container">&#128452;</span> archive 
                    </a>
                </nav>
            </header>

            <main role="main" class ="left-side" >
                $body$
            </main>
        </div>
    </body>
</html>
